APP_NAME="Haidar Mustafa Portfolio"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-api-domain.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=public

SANCTUM_STATEFUL_DOMAINS=your-frontend-domain.com
FRONTEND_URL=https://your-frontend-domain.com
